body {
  background-color: white;
}

.nav {
  background-color: black;
  overflow: hidden;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.name {
  background-image: url("images/sun.png");
  font-size: 3em;
  text-align: center;
  virtical-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

.text {
  backgroun-color: rgb(171,171,171);
  padding: 1em;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  color: black;
}
