/* Central styling */
body {
  background-image: url("backgrounddark.jpeg");
  padding: 0em;
  margin: 0em;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
}

.overlay {
  padding: 0;
  margin: 0;
  background: rgb(3, 12, 140, 0.45);
  position: absolute;
  z-index: 5;
  width: 100%;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.title2 {
  color: #fcfbfc;
  font-size: 3em;
  padding: 1.5em;
  padding-bottom: 0.5em;
  text-align: left;
  margin-bottom: 0em;
}

/* Title */
#title {
  height: 50vh;
}

.name {
  text-align: center;
  font-size: 7vw;
  color: white;
  margin: 0;
  margin-top: 43vh;
}

/* Nav Bar*/
nav {
  background-color: rgb(3, 12, 140);
  overflow: hidden;
  z-index: 2;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

nav a:hover {
  background-color: rgb(2, 14, 191);
  color: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* About */
#about .text {
  padding: 1.5em;
  margin: auto;
  margin-bottom: 2em;
  width: 75vw;
  font-size: 1.8em;
  color: white;
  background-color: rgb(3, 12, 140, 0.85);
  border-radius: 25px;
}

/* Skills */
.skillbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 75vw;
  padding: 1.5em;
  background-color: rgb(3, 12, 140, 0.85);
  font-size: 1.3em;
  color: white;
  border-radius: 25px;
}

.skill {
  margin: 1.5em;
}

.card {
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  width: 11vw;
  text-align: center;
}

.icon {
  font-size: 11vw;
}

#django {
  height: 11vw;
}

#django img {
  height: 10vw;
}

.word {
  border-top: solid white;
  margin: auto;
  padding-top: .5vh;
  margin-top: .5vh;
  font-size: 2vw;
}

/* Projects */
.projectbox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 75vw;
  font-size: 1.3em;
  background-color: rgb(3, 12, 140, .85);
  border-radius: 25px;
  color: white;
  padding: 1.5em;
  padding-bottom: 0;
}

.projcard {
  border-radius: 25px;
  width: 230px;
  height: 230px;
  background-size: cover;
  margin-bottom: 1.5em;
  margin-left: 2vw;
  margin-right: 2vw;
}

.projcard:hover {
  box-shadow: 0 0 12px aqua;
}

.projcard:hover .projbox {
  opacity: 1;
}
.projdesc {
  padding: 1em;
  color: white;
  font-size: 0.8em;
}

.projbox {
  text-align: center;
  height: 198px;
  width: 230px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  opacity: 0;
  background: rgb(55, 55, 55, 0.9);
  text-decoration: none;
  line-height: 1.4;
  position: relative;
}

.projbox .projlang {
  position: absolute;
  bottom: 0;
  padding: 0.2em;
  font-size: 0.8em;
  color: white;
  bottom: 0;
}

.projtitle {
  font-size: 1em;
  text-align: center;
  margin: 0em;
  color: white;
  background-color: rgba(3, 67, 140, 0.85);
  padding: 0.2em;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.text {
  background-color: rgb(200, 200, 200);
  padding: 1em;
}

span {
  height: 50px;
  width: 50px;
  background-color: black;
}

/* Contact Info */
.contacts {
  display: flex;
  justify-content: space-around;
  background-color: rgb(3, 12, 140);
  margin-top: 0em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.contact {
  text-align: center;
  height: 110px;
  width: 200px;
  margin: 1em;
  color: white;
}

.icon2 {
  font-size: 4em;
}

.icon2:hover {
  font-size: 4.5em;
}

.label {
  font-size: 1.4em;
  margin-top: 0em;
}

@media (max-width: 700px) {

  span {
    height: 50px;
    width: 50px;
  }

  #about .text {
    font-size: 15px;
  }

  nav a {
    font-size: 15px;
  }
}
